@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* A modern, clean sans-serif font */
  background-color: var(--color-background-primary); /* Use a CSS variable for primary background */
  color: var(--color-text-primary); /* Use a CSS variable for primary text */
}

:root {
  --color-primary: #4CAF50; /* A shade of green */
  --color-secondary: #2196F3; /* A shade of blue */
  --color-background-primary: #E8F5E9; /* Light green background */
  --color-background-secondary: #FFFFFF; /* White for cards/sections */
  --color-text-primary: #212121; /* Dark grey for primary text */
  --color-text-secondary: #757575; /* Medium grey for secondary text */
  --color-accent: #FFC107; /* Amber for accents */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
